body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.compra-box {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    text-align: center;
    border: 1px solid #ddd;
}

.volver {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: black;
    color: white;
    text-decoration: none;
}
