#ComputadoraReciclaje {
    padding: 700px;
}

table {
    width: 500px;       /* Ancho fijo en píxeles */
    height: 200px;      /* Alto fijo en píxeles */
    border-collapse: collapse; /* Bordes unidos */
        margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.table_titulo{
    background-color: #FCE5BB;

}
.table_foto{
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.hover_cv:hover{
    background-color: lightblue;
}