body {
            display: flex;
            justify-content: center;
            font-family: Arial, sans-serif;
}

main {
    width: 80%;
    background: #EAEAEC;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

h2 {
            text-align: center;
            margin-top: 30px;
}

.left {
    background-color: black;
    color: white;
}

.right {
    background-color: white;
    color: black;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.foto {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

