table {
    width: 500px;
    height: 200px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.left {
    background-color: black;
    color: white;
}

.right {
    background-color: white;
    color: black;
}