.menu{
    background-color:#FCE5BB;
    padding: 15px
}

.menu ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #FCE5BB;
}