.menu{
    background-color:#FCE5BB;
    padding: 15px
}

.menu ul{
     list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

footer{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #FCE5BB;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2e9d8;
}
header {
    background-color:#e0d2b8;
    padding: 10px 0;
    border-bottom: 2px solid #b59d80;
}

p{
    line-height: 1.5;
}

ul {
    margin-left: 20px;
}

#formulario form {
    display: flex;
}
