main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.menu {
    background-color: #FCE5BB;
    padding: 15px
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FCE5BB;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 0.7rem; 
    padding: 0,1px 0;  
     height: 30px;       
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2e9d8;
    padding-top: 70px;
    padding-bottom: 20px;
}

header {
    background-color: #e0d2b8;
    padding: 10px 0;
    border-bottom: 2px solid #b59d80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

p {
    line-height: 1.5;
}

ul {
    margin-left: 20px;
}