.galeria {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}
