
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2{
    color:rgb(127, 104, 58);
}
#section-logo {
    text-align: center;
    margin-bottom: 30px;
}
#logoindex{
    width: 250px;
}



