body{
    font-size: 18px;
}

h1,
h2 {
    color: rgb(127, 104, 58);
}

#section-logo {
    text-align: center;
    margin-bottom: 30px;
}

.bloque {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.bloque img {
    width: 500px;  
    height: 500px;
}

.texto {
    flex: 1;
}